@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fc-today-bg-color: inherit;
  --fc-small-font-size: 0.9em;
  --fc-border-color: #121212;
  --fc-page-bg-color: transparent;
  --fc-event-border-color: inherit;
  --fc-event-text-color: #121212;
}

:root.dark {
  --fc-today-bg-color: inherit;
  --fc-border-color: #e1e2e1;
  --fc-event-text-color: #0a2f59;
  --fc-event-border-color: inherit;
}

#btn{
  color:#1962b0;
}

#btn .dark{
  color:#0a2f59;
}

:root.dark a {
  color: #e1e2e1;
}

a {
  color: #121212;
}

.dark .fc .fc-timegrid-slot-label-cushion {
  color: #e1e2e1;
}


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rildiv {
  padding: 0 18rem;
}

@media (max-width: 1024px) {
  .rildiv {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  .rildiv {
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  .rildiv {
    padding: 0 1rem;
  }
}

/* Responsive for larger screens */
@media (min-width: 1280px) {
  .rildiv {
    padding: 0 18rem;
  }
}

@media (min-width: 1536px) {
  .rildiv {
    padding: 0 20rem;
  }
}

.fc-event-time {
  text-align: center;
}

.fc-event-title {
  text-align: center;
}

.fc-timegrid-event-harness > .fc-timegrid-event {
  inset: 0px;
  position: absolute;
}

.fc .fc-timegrid-slot-label {
  vertical-align: right;
  position: relative;
  top: -11px;
  border-top: none;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: left;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none;
}
