@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rildiv {
    padding: 0 20rem ;
  }

  @media (max-width: 1024px) {
    .rildiv {
      padding: 0 5rem ;
    }
  }

  @media (max-width: 768px) {
    .rildiv {
      padding: 0 2rem ;
    }
  }

  @media (max-width: 480px) {
    .rildiv {
      padding: 0 1rem ;
    }
  }

.fc-event-time{
text-align: center ;
}

.fc-event-title{
    text-align: center ;
}

.fc-timegrid-event-harness > .fc-timegrid-event {
  inset: 0px;
  position: absolute;
}

.fc .fc-timegrid-slot-label {
  vertical-align: middle;
  position: relative;
  top: -11px;
  border-top:none ;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: left;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none;
}